<form>
	<fieldset>
		<h3>Change Password</h3>
	</fieldset>	
	<fieldset>
		<h4>{{ userData.firstname }} {{ userData.middlename | limitTo: 1 }}. {{ userData.lastname }}</h4>
	</fieldset>	
	<fieldset>
		<label>Current Password: <span class="error">{{ passwordError }}</span></label>
		<input type="password" ng-model="current.password" required />
	</fieldset>
	<fieldset>
		<label>New Password: <span class="error">{{ passwordErrorRepeat }}</span></label>
		<input type="password" ng-model="userInput.password" required />
	</fieldset>	
	<fieldset>
		<label>Repeat Password: </label>
		<input type="password" ng-model="confirm.password" required />
	</fieldset>				
	<fieldset>
		<button class="btn btn-primary" ng-click="changePassword()" prevent-default>Change Password</button>
		<a ui-sref="users" class="btn btn-danger" >Cancel</a>
	</fieldset>			
</form>